---
const personalImageAlt = "Miquel Avellaneda";

import { getI18n } from "../i18n/";

const { currentLocale = "es" } = Astro;
const i18n = getI18n({ currentLocale });
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-blue-400 dark:[&>p>strong]:text-yellow-400 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1 text-justify"
  >
    <p>
      <p>
        {i18n.ABOUTMETEXT1}
        <strong>{i18n.ABOUTMETEXT2}</strong>, {i18n.ABOUTMETEXT3}
      </p>

      <p>
        {i18n.ABOUTMETEXT4}
      </p>

      <ul
        class="[&>strong]:text-blue-400 dark:[&>p>strong]:text-yellow-400 py-1"
      >
        <li
          class="[&>strong]:text-blue-400 dark:[&>strong]:text-yellow-400 py-1 [&>strong]:font-normal [&>strong]:font-mono"
        >
          <strong>{i18n.ABOUTMETEXT5}</strong>
          {i18n.ABOUTMETEXT6}
        </li>
        <li
          class="[&>strong]:text-blue-400 dark:[&>strong]:text-yellow-400 py-1 [&>strong]:font-normal [&>strong]:font-mono"
        >
          <strong>{i18n.ABOUTMETEXT7}</strong>{i18n.ABOUTMETEXT8}
        </li>
        <li
          class="[&>strong]:text-blue-400 dark:[&>strong]:text-yellow-400 py-1 [&>strong]:font-normal [&>strong]:font-mono"
        >
          <strong>{i18n.ABOUTMETEXT9}</strong>{i18n.ABOUTMETEXT10}
        </li>
        <li
          class="[&>strong]:text-blue-400 dark:[&>strong]:text-yellow-400 py-1 [&>strong]:font-normal [&>strong]:font-mono"
        >
          <strong>{i18n.ABOUTMETEXT11}</strong>
          {i18n.ABOUTMETEXT12}
        </li>
        <li
          class="[&>strong]:text-blue-400 dark:[&>strong]:text-yellow-400 py-1 [&>strong]:font-normal [&>strong]:font-mono"
        >
          <strong>{i18n.ABOUTMETEXT13}</strong>
          {i18n.ABOUTMETEXT14}
        </li>
      </ul>

      <p>
        {i18n.ABOUTMETEXT15}<strong>{i18n.ABOUTMETEXT16}</strong>
        {i18n.ABOUTMETEXT17}
      </p>
    </p>
  </div>
  <img
    width="200"
    height="200"
    src="/sobre-mi.jpeg"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-2 ring-blue/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
