---
import HTMLicon from "../icons/HTMLicon.astro";
import CSSicon from "../icons/CSSicon.astro";
import GitHub from "../icons/Github.astro";
import Link from "../icons/Link.astro";
import LinkButton from "./LinkButton.astro";
import ArduinoIcon from "../icons/ArduinoIcon.astro";
import GalleryButton from "./galleryButton.astro";
import GameBoy from "./GameBoy.astro";
import Cicon from "../icons/Cicon.astro";

const { currentLocale = "es" } = Astro;

const TAGS = {
  HTML: {
    name: "HTML",
    class: "bg-[#602110] text-white",
    icon: HTMLicon,
  },

  CSS: {
    name: "CSS",
    class: "bg-[#103852] text-white",
    icon: CSSicon,
  },

  Arduino: {
    name: "arduino",
    class: "bg-[#15e3ea] text-white",
    icon: ArduinoIcon,
  },
  C: {
    name: "C",
    class: "bg-[#15e3ea] text-white",
    icon: Cicon,
  },
};

const PROJECTS = [
  {
    title: {
      es: "Digitalización de fotos de la Game Boy Camera (1988)",
      en: "Digitalization of photos from Game Boy Camera (1988)",
      ca: "Digitalització de fotos de la Game Boy Camera (1988)",
    }[currentLocale],
    description: {
      es: "Elaboración de un programa que permite digitalizar imágenes de la Game Boy Camera, creada en 1988. Un aparato del que originalmente solo se podían imprimir las imágenes.",
      en: "Development of a program that allows you to digitize images from the Game Boy Camera, created in 1988. A device from which only images could originally be printed.",
      ca: "Elaboració d'un programa que permet digitalitzar imatges de la Game Boy Camera, creada al 1988. Un aparell del que originalment només es podien imprimir les imatges.",
    }[currentLocale],
    link: "https://mavellanedal.github.io/labdoo-site/",
    github: "https://github.com/mavellanedal/labdoo-site",
    image: "/projects/GameBoy-project.webp",
    tags: [TAGS.Arduino],
    gallery: "#",
  },

  {
    title: {
      es: "Labdoo Site − La página web del proyecto de labdoo",
      en: "Labdoo Site − The website of the labdoo project",
      ca: "Labdoo Site − La pàgina web del projecte de labdoo",
    }[currentLocale],
    description: {
      es: "Diseño de una página web para el proyecto de síntesis de mi segundo año en sistemas microinformáticos y redes.",
      en: "Desing of a website for the synthesis project of my second year in microcomputer systems and networks.",
      ca: "Disseny d'una pàgina web per al projecte de síntesi del meu segon any en sistemes microinformàtics i xarxes.",
    }[currentLocale],
    link: "https://mavellanedal.github.io/labdoo-site/",
    github: "https://github.com/mavellanedal/labdoo-site",
    image: "/projects/labdoo-site.webp",
    tags: [TAGS.HTML, TAGS.CSS],
  },

  {
    title: {
      es: "Conciertos en Barcelona − Página web de los próximos conciertos en Barcelona",
      en: "Concerts in Barcelona − Website of the upcoming concerts in Barcelona",
      ca: "Concerts a Barcelona − Pàgina web dels propers concerts a Barcelona",
    }[currentLocale],
    description: {
      es: "Esta página web fue creada para una entrega de mi segundo año de Sistemas Microinformáticos y redes.",
      en: "This website was created for a delivery of my second year of Microcomputer Systems and Networks.",
      ca: "Aquesta pàgina web va ser creada per a una entrega del meu segon any de Sistemes Microinformàtics i Xarxes.",
    }[currentLocale],
    link: "https://mavellanedal.github.io/Reto-2-m08/",
    github: "https://github.com/mavellanedal/Reto-2-m08",
    image: "/projects/concerts-site.webp",
    tags: [TAGS.HTML, TAGS.CSS]
  },
  {
    title: {
      es: "Mi propia biblioteca de funciones para C",
      en: "My own library of functions for C",
      ca: "La meva pròpia biblioteca de funcions per a C",
    }[currentLocale],
    description: {
      es: "Creación de una biblioteca de funciones en C con las funciones más utilizadas en la programación de sistemas.",
      en: "Creation of a library of functions in C with the most used functions in systems programming.",
      ca: "Creació d'una biblioteca de funcions en C amb les funcions més utilitzades en la programació de sistemes.",
    }[currentLocale],
    gtihub: "https://mavellanedal.github.io/libft/",
    tags: [TAGS.C]
  }
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(
      ({ image, title, description, tags, link, github, gallery }) => (
        <>
          <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
            <div class="w-full md:w-1/2">
              <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
                <img
                  alt="Imagen del proyecto"
                  class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
                  loading="lazy"
                  src={image}
                />
              </div>
            </div>

            <div class="w-full md:w-1/2 md:max-w-lg">
              <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
                {title}
              </h3>
              <div class="flex flex-wrap mt-2">
                <ul class="flex flex-row mb-2 gap-x-2">
                  {tags.map((tag) => (
                    <li>
                      <span
                        class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                      >
                        <tag.icon class="size-4" />
                        {tag.name}
                      </span>
                    </li>
                  ))}
                </ul>

                <div class="mt-2 text-gray-700 dark:text-gray-400">
                  {description}
                </div>
                <footer class="flex items-end justify-start mt-4 gap-x-4">
                  {github && (
                    <LinkButton href={github}>
                      <GitHub class="size-6" />
                      Code
                    </LinkButton>
                  )}
                  {link && (
                    <LinkButton href={link}>
                      <Link class="size-4" />
                      Preview
                    </LinkButton>
                  )}
                  {gallery && <GalleryButton />}
                </footer>
              </div>
            </div>
          </article>
          <GameBoy />
        </>
      )
    )
  }
</div>

<script>
  const GalleryButton = document.getElementById("ButtonGallery");
  const carouselContainer = document.getElementById("gallery");

  GalleryButton?.addEventListener("click", () => {
    carouselContainer?.classList.toggle("hidden");
  });
</script>
